{% extends "layouts/master.html" %}
{% block title %}Profile{% endblock %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <div class="card-block">
            <div class="row">
                <h3><b><u>User Info:</u></b></h3>
                <ul>
                    <li>Name: {{ user.name|default_if_none:'' }}</li>
                    <li>Email: {{ user.email }}</li>
                </ul>
                <hr>
                {% if not user.is_superuser %}
                <h3><b><u>User Profile:</u></b></h3>
                <a class="btn btn-info" href="{% url 'user_management:user_update' pk=user.id %}">Update Profile</a>
                <hr>
                <ul>
                    <li>Date of Birth: {{ user.userprofile.date_of_birth|default_if_none:'' }}</li>
                    <li>Phone: {{ user.userprofile.phone|default_if_none:'' }}</li>
                    <li>Address Line 1: {{ user.userprofile.address_line1|default_if_none:'' }}</li>
                    <li>Address Line 2: {{ user.userprofile.address_line2|default_if_none:'' }}</li>
                    <li>City: {{ user.userprofile.city|default_if_none:'' }}</li>
                    <li>Zip Code: {{ user.userprofile.zip_code|default_if_none:'' }}</li>
                    <li>State: {{ user.userprofile.state|default_if_none:'' }}</li>
                    <li>Country: {{ user.userprofile.country|default_if_none:'' }}</li>
                </ul>
                <hr>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
