{% extends "layouts/master.html" %}
{% block title %}Users{% endblock %}

{% block body_block %}
{% if user.is_superuser %}
<div class="jumbotron text-center">
    <h3>Users</h3>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover" id="datatable">
                            <thead>
                                <tr class="selectable">
                                    <th scope="col">No.</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">User Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ member.name|default_if_none:'' }}</td>
                                    <td>{{ member.email }}</td>
                                    <td>
                                        {% if member.is_superuser %}Admin{% else %}User{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}